@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#terminal__body {  
    background: rgba(0, 0, 0, 0.9);  
    font-family: 'Ubuntu Mono';  
    height: 50px;  
    padding-top: 2px;  
    margin-top: -1px;
    border-radius: 2%;
  } 
  #terminal__prompt {  
    display: flex;
    padding: 10px;
  }
  #terminal__prompt--user {  
    color: #ffffff;
  }
  #terminal__prompt--location { 
    color: #4878c0;
  }
  #terminal__prompt--bling {  
    color: #dddddd;
  }
  #terminal__prompt--cursor {  
    display: block;  
    height: 17px;  
    width: 8px;  
    margin-left: 9px;  
    animation: blink 1200ms linear infinite;
  } 
  @keyframes blink {  
    0% {    
      background: #ffffff;  
    }  
    49% {    
      background: #ffffff;  
    }  
    60% {    
      background: transparent;  
    }  
    99% {    
      background: transparent;  
    }  100% {    
      background: #ffffff;  
    }
  } 
  @media (max-width: 600px) {  
        #terminal {    
        max-height: 90%;    
        width: 90%;  
        }
    }

.list__items > li {
    color: #6825c0;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.dropdown-container {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(221, 244, 252);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    width: 55rem;
    padding: 1rem;
    border-radius: 4%;
    border: 5px solid rgb(123, 191, 214);
    margin: 0 auto;


}

.dropbtn {
    background-color: #ff7779;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 0 auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.resource-button {
    border-radius: 80%;
    position: relative;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 250px;
    height: 75px;
}
.resource-button:hover {
    background-color: white;
    color: #ff7779;
}

.strong__text {
  color: red;
}

.dropdown-container a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
.dropdown:hover .dropdown-container {
    display: block;
}

 
.wrapper{
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 30px;
  font-weight: 600;
}
.wrapper .inputField{
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputField input:focus{
  border-color: #ff7779;
}
.inputField button{
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #4981e8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button:hover,
.footer button:hover{
  background: #ff7779;
}
.inputField button.active{
  opacity: 1;
  pointer-events: auto;
}
.wrapper .todoList{
  max-height: 250px;
  overflow-y: auto;
}
.todoList li{
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
  font-family: 'Noto Sans JP', sans-serif;
}
.todoList li .icon{
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todoList li:hover .icon{
  right: 0px;
}
.wrapper .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #4981e8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}
